/* 
    Document   : Form maker
    Created on : Aug 20, 2012, 11:34:23 AM
    Author     : Making Waves
    Description:
        Stylesheet for Form Maker extension
*/

#mwezform div {
    margin-bottom: 10px;
}

.form_error {
    color:red;
    font-weight: bold;
}

.form_container {
    margin: 2%;
    padding: 2%;
    width: 94%;
    border: 1px solid #63a5c8;
    background-color: #eef6f9;
    border-radius: 3px;   
}

.form_label_checkbox {
    display: inline;
}

.form_attribute_required {
    color: red;
    font-weight: bold;
}

.form_element_container {
    overflow: hidden;
    border-bottom: 1px solid #dfcbd1;
    padding: 2px;
}

.form_attribute_content {
    width: 40%;
    float: left;
}

.form_error_content {
    float: left;
    width: 55%;
}
