{% block formmakerAdminStylesheets %}
    {% stylesheets 'bundles/formmaker/css/admin/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block formmakerAdminJavascripts %}
    <script type="text/javascript">
        var formmakerTranslations = {
            'removeFormConfirmation': "{{ "remove.form.confirmation"|trans({}, "formmaker") }}"
        };
    </script>

    {% javascripts
        'extension/ezjscore/design/standard/javascript/jquery-ui-1.10.3.custom.min.js'
        '@FormMakerBundle/Resources/public/js/admin/*'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

<div class="formmaker container-fluid">
    <div class="row">
        <div class="col-sm-3">
            {% block sidebar %}
                {% include 'FormMakerBundle::admin_left_menu.html.twig' %}
            {% endblock %}
        </div>

        <div class="col-sm-9">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>