{% extends "EzPublishCoreBundle::content_fields.html.twig" %}

{% block form_field %}
    <div class="formmaker" data-form-id="{{ field.value.getFormDefinition.getId }}">
        {{ include(
            "FormMakerBundle:eZPublish/Fields/" ~ field.value.getFormDefinition.getViewType ~ ":form.html.twig",
            { "field": field }
        ) }}
    </div>
{% endblock %}