{% extends "EzPublishCoreBundle::content_fields.html.twig" %}

{% block form_field %}
    <div class="form-content">
        {{ include(
            "FormMakerBundle:eZPublish/Fields/" ~ field.value.formDefinition.getViewType ~ ":form.html.twig",
            { "field": field }
        ) }}
    </div>
{% endblock %}