<form role="form">
    <ol class="breadcrumb">
        {% for breadcrumb in field.value.getBreadcrumb %}
            <li {% if loop.index0 == field.value.getCurrentPageIndex %}class="active"{% endif %}>
                {{ breadcrumb }}
            </li>
        {% endfor %}
    </ol>

    <div class="container">
        {% for attribute in field.value.getCurrentPageAttributes %}
            {{ attribute.getLabel }}
        {% endfor %}
    </div>
</form>