/* 
    Document   : style
    Created on : Aug 22, 2012, 7:48:32 AM
    Author     : developer
    Description:
        Purpose of the stylesheet follows.
*/


.formField, .formDefinition {
    padding: 10px;
    border: 1px solid grey;
    margin-bottom: 10px;
}

.formField {
    cursor: move;
}

    .formField .form-attribute-options input[type=text] {
        width: 450px;
    }
    
    .formField .form-attribute-options .default-radio {
        margin-right: 10px;
    }
    
    .formField .attribute-header {
        width: 100%;
        overflow: hidden;
        margin-bottom: 7px;
        padding-bottom: 5px;
        border-bottom: 1px dotted gray;
    }
    
        .formField .attribute-header .attribute-name {
            font-weight: bold;
            width: 50%;
            float: left;
            font-size: 14px;
        }
        
        .formField .attribute-header .attribute-actions {
            width: 50%;
            float: right;
        }        
        
            .formField .attribute-header .attribute-actions .remove-field {
                background: url('../../../design/admin2/images/trash-icon-16x16.gif') no-repeat;
                height: 16px;
                padding-left: 20px;
                float: right;
            }
            
            .formField .attribute-header .attribute-actions .enable-attribute {
                float: right;
                margin-right: 7px;
            }
            
                .formField .attribute-header .attribute-actions .enable-attribute input[type=checkbox] {
                    padding:0;
                    margin: 0 3px 0 0;
                }            

.addField {
    background-image: url('../../../design/admin2/images/add.png');
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    text-align: right;
    width: 45px;
    padding-left: 20px;
}

.formmaker_remove_form {
    background-image: url('../../../design/admin2/images/delete.png');    
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-right: 5px;
}
.formmaker_edit_form {
    background-image: url('../../../design/admin2/images/application_edit.png');    
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-right: 5px;
}

/*.formFieldTemplate_text, #formFieldTemplate_textarea, #formFieldTemplate_checkbox {*/
.formFieldTemplate {
    display: none;
}

.formField {
    padding: 10px;
    border: 1px solid grey;
    margin-bottom: 10px;
    cursor: move;
    position: relative;
    border-radius: 3px; 
    -moz-border-radius: 3px; 
    -webkit-border-radius: 3px;    
}

.form-1 {
    background-color: #DBFFCE;
}

.form-2 {
    background-color: #cfceff;
}

.form-3 {
    background-color: #fffcce;
}

.form-4 {
    background-color: #dcfcff;
}

.confirmationMsg {
    color: green;
    font-weight: bold;
    padding: 10px;
    border: 1px solid lawngreen;
    width: 47%;
    text-align: center;
}
/* ---- /form editing ---- */

.formmaker-attribute {
    margin: 5px 0 5px 10px;
    float: left;
    width: 300px;
    height: 40px;
}

.formmaker-attribute input {
    width: 250px;
}

.form_attribute_required {
    color: red;
    font-weight: bold;
}

.form_error {
    color: red;
    font-weight: bold;
    width: 100%;
    overflow: hidden;
    margin: 0 0 5px 10px;
}

#content-sub-items-list {
    overflow: hidden;
}

.formmaker-language-information {
    font-style: italic;
    margin: 15px 0;
    width: 48%;
}

#noneAttributesWarning {
    margin-bottom: 15px;
}

.spc {
    color: grey;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.spc.clear {
    clear: both;
    display: block;
    margin-bottom: 6px;
}

.clear {
    clear: both;
}

.formmaker_no_forms {
    font-weight: bold;
    padding: 20px !important;
    text-align: center !important;
}

.mwezform-list-name {
    width: 45%;
}

.controlbar {
    margin-bottom: 35px;
}

.long {
    width: 660px;
}

.ui-icon ui-icon-alert {
    float: left; margin: 0 7px 0px 0;
}

.right.translation img {
    vertical-align: middle;
}

.add-option {
    background: url('../../../design/admin2/images/add2.png') no-repeat;
    height: 16px;
    padding-left: 20px;    
}

.option-remove {
    padding-left: 7px;
}

#dialog-confirm {
    display: none;
}