/* 
    Document   : style
    Created on : Aug 22, 2012, 7:48:32 AM
    Author     : developer
    Description:
        Purpose of the stylesheet follows.
*/


.formField, .formDefinition {
    padding: 10px;
    border: 1px solid grey;
    margin-bottom: 10px;
}
.formField {
    cursor: move;
}
.addField {
    background-image: url('../../../design/admin2/images/add.png');
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    text-align: right;
    width: 45px;
    padding-left: 20px;
}
.removeField {
    background: url('../../../design/admin2/images/trash-icon-16x16.gif') no-repeat;
    height: 16px;
    padding-left: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
}
.formmaker_remove_form {
    background-image: url('../../../design/admin2/images/delete.png');    
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-right: 5px;
}
.formmaker_edit_form {
    background-image: url('../../../design/admin2/images/application_edit.png');    
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-right: 5px;
}

/*.formFieldTemplate_text, #formFieldTemplate_textarea, #formFieldTemplate_checkbox {*/
.formFieldTemplate {
    display: none;
}


#dialog-confirm {
    height: 80px;
    display: none;
}


.formField {
    padding: 10px;
    border: 1px solid grey;
    margin-bottom: 10px;
    cursor: move;
    position: relative;
    border-radius: 3px; 
    -moz-border-radius: 3px; 
    -webkit-border-radius: 3px;    
}

.form-1 {
    background-color: #DBFFCE;
}

.form-2 {
    background-color: #cfceff;
}

.form-3 {
    background-color: #fffcce;
}

.form-4 {
    background-color: #dcfcff;
}

.confirmationMsg {
    color: green;
    font-weight: bold;
    padding: 10px;
    border: 1px solid lawngreen;
    width: 47%;
    text-align: center;
}
/* ---- /form editing ---- */

.formmaker-attribute {
    margin: 5px 0 5px 10px;
    float: left;
    width: 300px;
    height: 40px;
}

.formmaker-attribute input {
    width: 250px;
}

.mwform_attribute_required {
    color: red;
    font-weight: bold;
}

.mwform_error {
    color: red;
    font-weight: bold;
    width: 100%;
    overflow: hidden;
    margin: 0 0 5px 10px;
}

#content-sub-items-list {
    overflow: hidden;
}

.formmaker-language-information {
    font-style: italic;
    margin: 15px 0;
    width: 48%;
}

#noneAttributesWarning {
    margin-bottom: 15px;
}

.spc {
    color: grey;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.spc.clear {
    clear: both;
    display: block;
    margin-bottom: 6px;
}

.clear {
    clear: both;
}

.formmaker_no_forms {
    font-weight: bold;
    padding: 20px !important;
    text-align: center !important;
}

.mwezform-list-name {
    width: 45%;
}

.controlbar {
    margin-bottom: 35px;
}

.long {
    width: 660px;
}

.ui-icon ui-icon-alert {
    float: left; margin: 0 7px 0px 0;
}

.right.translation img {
    vertical-align: middle;
}

.add-option {
    background: url('../../../design/admin2/images/add2.png') no-repeat;
    height: 16px;
    padding-left: 20px;    
}

.form-attribute-options input[type=text] {
    width: 540px;
}

.option-remove {
    padding-left: 7px;
}