{% extends 'FormMakerBundle::admin_layout.html.twig' %}

{% block content %}
    <div class="formmaker">
        {% include 'FormMakerBundle:Edit:formDefinitionsForm.html.twig' with { 'formDefForm': formDefForm } %}
    </div>
{% endblock %}

