#formmaker_wrapper {
    margin:0 auto;
    padding:10px;
}

#formmaker_sidebar {
    float:left;
    width:225px;
    padding:5px;
    border:1px dashed #666;
}

#formmaker_content {
    float:left;
    padding: 5px;
    border: 1px dashed #aaa;
    margin-left:5px;
    width: 1024px;

}

li.active {
    font-weight: bolder;
}