<form role="form">
    <ol class="breadcrumb">
        {% for page in field.value.getPagesContainer.getPages %}
            <li {% if loop.index0 == field.value.getPagesContainer.getCurrentPageIndex %}class="active"{% endif %}>
                {{ page.getTitle }}
            </li>
        {% endfor %}
    </ol>

    <h1>{{ field.value.getPagesContainer.getCurrentPage.getTitle }}</h1>

    <div class="container">
        {% for attribute in field.value.getPagesContainer.getCurrentPage.getAttributes %}
            <div class="form-group">
                {{ include(
                    "FormMakerBundle:FormMaker/Attributes:" ~ attribute.getType.getStringId ~ ".html.twig",
                    { 'attribute': attribute }
                ) }}
            </div>
        {% endfor %}
    </div>
</form>