
<label>
    <input name="{{ attribute.getId }}" type="checkbox"
           {% if attribute.getDefaultValue == 1 %}checked="checked"{% endif %} />
    {{ attribute.getLabel }}
</label>
<p class="help-block">
    {{ attribute.getDescription }}
</p>