
<fieldset>
    <legend>{{ attribute.getLabel }}:</legend>
    {% for option in attribute.getOptions %}
        <div class="radio">
            <label>
                <input name="{{ attribute.getId }}" type="radio" />
                {{ option.getLabel }}
            </label>
        </div>
    {% endfor %}
</fieldset>