
<fieldset>
    <legend>{{ attribute.getLabel }}:</legend>
    {% for option in attribute.getOptions %}
        <div class="radio">
            <label>
                <input  name="{{ attribute.getId }}" type="radio" data-value="{{ option.getId }}"
                        {% if  attribute.getDefaultValue == option.getId %}checked="checked"{% endif %}/>
                {{ option.getLabel }}
            </label>
        </div>
    {% endfor %}
</fieldset>