
<label class="">{{ attribute.getLabel }}:</label>
<textarea name="{{ attribute.getId }}" class="form-control" rows="3">{{ attribute.getDefaultValue }}</textarea>
<p class="help-block">
    {{ attribute.getDescription }}
</p>
