
<label class="">{{ attribute.getLabel }}:</label>
<input type="text" name="{{ attribute.getId }}" class="form-control" value="{{ attribute.getDefaultValue }}" />
<p class="help-block">
    {{ attribute.getDescription }}
</p>
